@import 'normalize';
@import 'modal';

@font-face {
    font-family: 'Circular';
    src: url('fonts/circular-book.otf') format('otf');
}

h1 {
    color: white;
    font-size: 2.25rem;
    // text-decoration: underline;
    // text-underline-offset: 8px;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    color: white;
}

.subtitle {
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    color: white;
}

h2 {
    font-size: 1.5rem;
    
}


body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 231);
    font-family: 'Prata', serif;
    transition: all 1s;
}

.header {
    padding: 2rem;
    background-image: url('../images/the_met.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px
}

.discover {
    &__wrapper{
        padding: 2rem;
    }
    &__intro {
        padding-bottom: 2rem;
        font-family: 'Jost', sans-serif;
        font-size: 1.25rem;
    }
}

.card__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    .card {
        color: white;
        padding: 2rem;
        min-height: 15rem;
        border: none;
        background-size: cover;
        background-position-y: center;
        position: relative;
        box-shadow: inset 0 0 0 1000px rgba(119,66,0, 0.619);

        &__bio {
            font-family: 'Jost', sans-serif;
        }
        button {
            position: absolute;
            bottom: 2rem;
            // float:right;
        }
        &__modal {
            width: 50vw;
            background-color: white;
            z-index: 100;
            position: relative;
        }
        &[data-id="1"]{
            background-image: url(../images/socrates.jpeg);
        }
        &[data-id="2"]{
            background-image: url(../images/symposia.jpeg);
        }
        &[data-id="3"]{
            background-image: url(../images/plato.jpeg);
            
        }
        &[data-id="4"]{
            background-image: url(../images/seated-buddha.jpeg);
            background-position-y: 15%;
        }
        &[data-id="5"]{
            background-image: url(../images/lao-tzu.jpeg);
            background-position-y: 60%;
        }
        &[data-id="6"]{
            background-image: url(../images/conf.png);
            background-position-y: 50%;
        }
    }
}

button {
    background-color: transparent;
    border: 1px white solid;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    transition: all 1s;
    &:hover {
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        transition: all 1s;
        color: black;
    }
}

footer {
    padding: 2rem 0;
    font-family: 'Jost', sans-serif;
    text-align: right;
}